h1,p {
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #c9c9c9;
}
.box_container{
    display: block;
    width: 868px;
    height: 615px;

    margin: 50px auto 0 auto;
    
    text-align: center;

    border: 7px solid #3d0476;
    border-radius: 23px;
    background-color: white;
}

.box_container h1 {
    font-size: 96px;
    font-weight: bold;
    color: #3d0476;
    text-transform: uppercase;
    margin-top: 192px;
}
.box_container p {
    font-size: 40px;
    font-weight: normal;
    color: #4b4b4b;

}
