.container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;


    width: 100vw;
    height: 400px;
    background-color: rebeccapurple;
}


.container div{
    width: 180px;
    height: 180px;

    background-color: #0632f7;
    border:  5px solid black;
    border-radius: 20px;

    

    color: rgb(222, 238, 5);
    font-size: 80px;
    
}
